  <nav class='navigation_header'>
  <a ui-sref="type_new" class="left">< {{type.activeType.name}}</a>
  <span>{{type.activeControl.name}}</span>
  <a class='right' ng-click="type.newTypeUpdateControl()">Done</a>
</nav>

<section class='heading'>
  <div class="lineItem">
    <span class='lineItemLabel'>Name</span>
    <input ng-model='type.activeControl.name'  class='textInput' placeholder="___________________________________">
  </div>
  <div class="lineItem">
    <span class='lineItemLabel'>HTTP Verb</span>
    <input ng-model='type.activeControl.httpVerb' class='textInput' placeholder="___________________________________">
  </div>
  <div class="lineItem">
    <span class='lineItemLabel'>HTTP URL</span>
    <input ng-model='type.activeControl.httpURL' class='textInput' placeholder="___________________________________">
  </div>
</section>


<div class='controlHeading'>
  Control Info
</div>
<section class="lineItem">
  <span class='lineItemLabel'>Type</span>
  <select class="textInput" name="" ng-model='type.activeControl.type' ng-change='type.selectCheck()'>
    <option value="button">button</option>
    <option value="slider">slider</option>
    <option value="select">select</option>
  </select>
  <div class=""  ng-if='type.activeControlSelect'>
    <div class="lineItem" ng-repeat-start='option in type.activeControl.options track by $index'>
      <span class='lineItemLabel'>Option {{$index+1}}</span>
      <input ng-model='option.name' class='textInput' placeholder="___________________________________">
      <button ng-click='type.removeOption($index)' class='removeOption'>-</button>
    </div>

    <div ng-repeat-end class="clear">
    </div>
    <div class="lineItem">
      <button class='addControlButton' ng-click='type.addOption()'>+</button> <span>add option</span>
    </div>
  </div>
</section>

<div class="delete" ng-click='type.newTypeNewControlDeleteControl()'>
  delete
</div>
