<form class="newControlForm" ng-submit='type.newTypeNewControl(newControl)'>
  <nav>
    <a ui-sref="type_new">< {{type.activeType.name}}</a>
    New Control
    <button type="submit"> Done </button>
  </nav>


  <section class='heading'>
    <div class="headingLine">
      Name:
      <input ng-model='newControl.name'>
    </div>
    <div class="headingLine">
      HTTP Verb:
      <input ng-model='newControl.httpVerb'>
    </div>
    <div class="headingLine">
      HTTP URL:
      <input ng-model='newControl.httpURL'>
    </div>
  </section>


  Control Info
  <section class='controlInfo'>
    Type:
    <select class="" name="" ng-model='newControl.type'>
      <option value="button">button</option>
      <option value="slider">slider</option>
      <option value="select">select</option>
    </select>
    <div class="select" ng-repeat='option in type.newControl.options track by $index'>
      Option {{$index+1}}:
      <input ng-model='option.name'>
    </div>
  </section>

</form>
