<nav class='navigation_header'>
  <a ui-sref="type_show" class="left">< {{type.activeType.name}}</a>
  <span>{{type.activeControl.name}}</span>
  <a ui-sref="control_edit" class='right'>Edit</a>
</nav>

<section class='heading'>
  <div class="lineItem">
    <span class='lineItemLabel'>Name</span>
    <span class='lineItemValue'>{{type.activeControl.name}}</span>
  </div>
  <div class="lineItem">
    <span class='lineItemLabel'>HTTP Verb</span>
    <span class='lineItemValue'>{{type.activeControl.httpVerb}}</span>
  </div>
  <div class="lineItem">
    <span class='lineItemLabel'>HTTP URL</span>
    <span class='lineItemValue'>{{type.activeControl.httpURL}}</span>
  </div>
</section>

<div class='controlHeading'>
  Control Info
</div>
<section class='lineItem'>
  <span class='lineItemLabel'>Type</span>
  <span class='lineItemValue'>{{type.activeControl.type}}</span>
  <div class="lineItem" ng-repeat='option in type.activeControl.options track by $index'>
    <span class='lineItemLabel'>Option {{$index+1}}</span>
    <span class='lineItemValue'>{{option.name}}</span>

  </div>
</section>
