* Color palette */

:root {
	--lightish-green: #44db5e;
	--sky-blue: #54c7fc;
	--sunflower-yellow: #ffcd00;
	--tangerine: #ff9600;
	--reddish-pink: #fe2851;
	--bright-blue: #0076ff;
	--orange-red: #fe3824;
	--purpley-grey: #8f8e94;
	--black: #030303;
	--silver: #c7c7cd;
	--pale-grey: #efeff4;
	--cool-grey: #a4aab3;
}


/* Text styles */

body {
  font-family: 'Open Sans', sans-serif;
	background: #EFEFF4;
	width: 100%;
	height: 100%;
	margin:0;
}
.landingNav {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}


.landingNav a {
	text-align: center;
	text-decoration: none;
	color: #0076ff;
	width: 180px;
	height: 23.5px;
	border-radius: 4px;
	background-color: white;
	border-radius: 4px;
	border: solid 1px #0076ff;
}
/*.mainactive {
	border-radius: 4px;
	background-color: #0076ff;
	border-radius: 4px;
}*/

header {
	height: 66px;
	line-height: 66px;
	background-color: #ffffff;
	border-top: solid 1px #979797;
	border-bottom: solid 1px #979797;
	margin-bottom: 40px;
	text-align: center;
	margin-top: 20px;
	color: #1a1420;
	font-size: 29;
}
.addButton {
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 40px;
	margin-top: 13px;
	border-radius: 20px;
	font-size: 25px;
	color: #0076ff;
	background-color: #ffffff;
	border: solid 2px #0076ff;
}

.addControlButton {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 15px;
	font-size: 18px;
	color: #0076ff;
	background-color: #ffffff;
	border: solid 2px #0076ff;
}

header span {
	font-size: 21px;
	/*position: relative;
  left:0;
  right:0;*/
	text-align: center;
}


.main_list {
	height: 80px;
	line-height: 80px;
	font-size: 23;
	background-color: #ffffff;

	border-bottom: .5px #EFEFF4 solid;

	border-bottom: .5px #EFEFF4 solid;
	text-align: center;
}

.navigation_header {
	background-color: #ffffff;
	height: 65px;
	line-height: 65px;
	border: solid 1px #979797;
	margin-bottom: 46px;
	text-align: center;

}

.removeOption {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	border-radius: 15px;
	font-size: 18px;
	color: white;
	background-color: red;
	border: none;
}

.left {
	text-decoration: none;
	margin-left: 20px;
	color: #0076ff;
	float: left;
}
nav span {
	font-size: 23px;
	color: #1a1420;
}

.right {
	text-decoration: none;
	margin-right: 20px;
	color: #0076ff;
	float: right;
	cursor: pointer;
}

.lineItem {
	height: 44px;
	line-height: 44px;
	background-color: #ffffff;
	border-bottom: .5px #EFEFF4 solid;
}

.lineItemLabel {
	color: #030303;
	margin-left: 12px;
	float: left;
	width: 120px;
}

.lineItemValue {
	font-size: 17px;
	letter-spacing: -0.4px;
	color: #c7c7cd;
	margin-left: 60px;

}

.controlHeading {
	font-size: 21px;
	margin-top: 22px;
	margin-left: 12px;
	margin-bottom: 5px;
	font-size: 18px;
	letter-spacing: -0.1px;
	color: #6d6d72;
}
.textInput {
	font-size: 17px;
	letter-spacing: -0.4px;
	color: #c7c7cd;
	margin-left: 60px;
	border: none;
	height: 36px;
}

.delete {
	height: 44px;
	line-height: 44px;
	background-color: #ffffff;
	box-shadow: inset 0 0.5px 0 0 #c8c7cc, inset 0 -0.5px 0 0 #c8c7cc;
	margin-top: 150px;
	font-size: 17px;
	letter-spacing: -0.4px;
	text-align: center;
	color: #fe3824;
}

.rightButton {
	border: none;
	font-size: 16px;
	background: none;
	margin-right: 20px;
	color: #0076ff;
}

.lineItemControl {
	height: 44px;
	line-height: 44px;
	background-color: #ffffff;
	border-bottom: .5px #EFEFF4 solid;
}
.lineItemControl .select {
	height: 100px;
}

.controloptions {
	float: right;
}

.selecttype {
	background-color: #ffffff;
	border-bottom: .5px #EFEFF4 solid;
}

.block {
      display: block;
   }

.test{
	font-size: 17px;
	letter-spacing: -0.4px;
	margin-left: 20px;
	margin-right: 60px;
}

.tester {
	margin-right: 60px;
}

.clear {
	clear: both;
}

input:focus {outline:none;}

.options {
	height: 44px;
	line-height: 44px;
	border-bottom: .5px #EFEFF4 solid;
	width: 50vw;
	display: flex;
	justify-content:flex-end;
	align-items: center;
}

.landinginput {
	border: none;
	text-align: center;
}

.playlistlabel {
	height: 44px;
	line-height: 44px;
}

.landing {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	display: inline-block;
	height: 220px;
	background: white;
	width: 150px;
	margin: auto;
	border-radius: 10px
}

.typecontrol {
	font-size: 17px;
	letter-spacing: -0.4px;
	color: #c7c7cd;
	margin-left: 192px;

}

.lineItemControl a {
	text-decoration: none;
	margin-right: 20px;
	color: #0076ff;
	float: right;
}

input[type=range] {
   width: 70vw;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 9.25px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 1.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0076ff;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 0px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #c7c7cd;
  height: 20px;
  width: 20px;
  border-radius: 21px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.25px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1a84ff;
}
input[type=range]::-moz-range-track {
  height: 1.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0076ff;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 0px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #c7c7cd;
  height: 20px;
  width: 20px;
  border-radius: 21px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  height: 1.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #006ae6;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #0076ff;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 0px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1px solid #c7c7cd;
  height: 20px;
  width: 20px;
  border-radius: 21px;
  background: #ffffff;
  cursor: pointer;
  height: 1.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0076ff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1a84ff;
}
