<nav class='navigation_header'>
  <a ui-sref="types_all" class="left">< Types</a>
  <span>{{type.activeType.name}}</span>
  <a ng-click='type.updateActiveType()' class='right'>Done</a>
</nav>

<section class='heading'>
<div class="lineItem">
<span class='lineItemLabel'>Name</span>
<input ng-model='type.activeType.name' class='textInput'>
</div>
<div class="lineItem">
<span class='lineItemLabel'>API</span>
<input class="textInput" ng-model='type.activeType.api'>
</div>
</section>

<div class='controlHeading'>
  Controls
</div>
<section>
<div class="lineItemControl" ng-repeat='control in type.activeType.controls track by $index'>
  <span class='typecontrol'>{{control.name}}</span>
  <a ui-sref="type_edit_control_edit" ng-click=' type.goToEditControl($index)'>Edit</a>
</div>
<div class="lineItem" >
  <!-- <button class='addControlButton' ui-sref="type_edit_control_new">+</button> -->
  <button class='addControlButton' ng-click='type.editTypeNewControl()'>+</button> <span>add control</span>
</div>
</section>


<div class="delete" ng-click='type.deleteType()'>
  delete
</div>
