<nav class='navigation_header'>
  <a ui-sref="types_all" class="left">< Types</a>
    <span>New Type</span>
  <a ui-sref="type_show" ng-click='type.addNewType()' class='right'>Done</a>
</nav>

<section class='heading'>
<div class="lineItem">
<span class='lineItemLabel'>Name</span>
<input ng-model='type.activeType.name' class='textInput' placeholder="___________________________________">
</div>
<div class="lineItem">
<span class='lineItemLabel'>API</span>
<input ng-model='type.activeType.api' class='textInput' placeholder="___________________________________">
</div>
</section>

<div class='controlHeading'>
  Controls
</div>
<section>
<div class="lineItemControl" ng-repeat='control in type.activeType.controls track by $index' ng-click='type.showControl($index)'>
  <span class='typecontrol'>{{control.name}}</span>
  <a ui-sref="type_new_control_edit">Edit</a>
</div>
<div class="lineItem" >
  <button class='addControlButton' ng-click='type.newTypeGoToNewControl()'>+</button><span>add control</span>
</div>
</section>

<br>
<br>
