<nav class='navigation_header'>
  <a ui-sref="types_all" class="left">< Types</a>
  <span>{{type.activeType.name}}</span>
  <a ui-sref="type_edit" class='right'>Edit</a>
</nav>

<section class='heading'>
<div class="lineItem">
<span class='lineItemLabel'>Name</span><span class='lineItemValue'>{{type.activeType.name}}</span>
</div>
<div class="lineItem">
<span class='lineItemLabel'>API</span><span class='lineItemValue'>{{type.activeType.api}}</span>
</div>
</section>

<div class='controlHeading'>
  Controls
</div>
<section>
<div class="lineItemControl" ng-repeat='control in type.activeType.controls track by $index' ng-click='type.showControl($index)'>
  <span class='typecontrol'>{{control.name}}</span>
</div>
</section>
