<nav>
  <a ui-sref="devices_all">< Devices</a>
  {{device.activeDevice.name}}
  <a ng-click='device.updateActiveDevice()'>Done</a>
</nav>

<section class='heading'>
<div class="lineItem">
Name:
<input ng-model='device.activeDevice.name'>
</div>
<div class="lineItem">
  Type:
  <select class="" ng-model='device.activeDevice.device_type.name'>
    <option ng-repeat='option in device.allTypes' value='{{option.name}}'>
      {{option.name}}
    </option>
  </select>
</div>
</section>

<br>
<br>
<br>
<div class="delete" ng-click='device.deleteDevice()'>
  delete
</div>
