<nav class='navigation_header'>
  <a ui-sref="devices_all" class="left">< Devices</a>
  <span>{{device.activeDevice.name}}</span>
  <a ui-sref="device_show" ng-click='device.updateActiveDevice()' class='right'>Done</a>
</nav>

<section class='heading'>
<div class="lineItem">
<span class='lineItemLabel'>Name</span>
<input ng-model='device.activeDevice.name' class='textInput'>
</div>
<div class="lineItem">
  <span class='lineItemLabel'>Type</span>
  <select class="textInput" ng-model='device.activeDevice.device_type.name'>
    <option ng-repeat='option in device.allTypes' value='{{option.name}}' class='textInput'>
      {{option.name}}
    </option>
  </select>
</div>
</section>

<div class="delete" ng-click='device.deleteDevice()'>
  Delete
</div>
