<nav>
  <a ui-sref="devices_all">< Devices</a>
  {{device.activeDevice.name}}
  <a ng-click='device.updateActiveDevice()'>Done</a>
</nav>

<section class='heading'>
<div class="lineItem">
Name:
<input ng-model='device.activeDevice.name'>
</div>
<div class="lineItem">
  Type:
  <select class="" ng-model='device.activeDevice.device_type'>
    <option ng-repeat='type in device.allTypes track by $index' ng-value='{{type}}' selected='device.activeDevice.device_type'>
      {{type.name}}
    </option>
  </select>
</div>
</section>
