<nav class='navigation_header'>
  <a ui-sref="devices_all" class="left">< Devices</a>
  <span>New Device</span>
  <a ui-sref="device_show" ng-click='device.addNewDevice(device_type)' class='right'>Done</a>
</nav>

<section class='heading'>
  <div class="lineItem">
  <span class='lineItemLabel'>Name</span>
  <input ng-model='device.activeDevice.name' class='textInput' placeholder="___________________________________">
  </div>

  <div class="lineItem">
    <span class='lineItemLabel'>Type</span>
    <select class="textInput" ng-model='device_type'>
      <option ng-repeat='type in device.allTypes track by $index' value='{{type}}'>
        {{type.name}}
      </option>
    </select>
  </div>

</section>
